/* 06.05. Home Five Intro CSS */

.intro5-section {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #5d5fef;

    & .container {
        z-index: 9;
    }

    & .section-bottom-shape {
        transform: rotateX(180deg);
    }

    @media #{$large-mobile} {
        height: auto;
        background-position: left top;
    }
}

.intro5-content {
    // Responsive
    @media #{$tablet-device}{
        padding: 140px 15px 40px;
    }
    @media #{$large-mobile}{
        padding: 140px 15px 40px;
        max-width: 100%;
    }
    & .title {
        font-size: 30px;
        line-height: 1.3;
        color: $secondary;
        &.fz-26{
            font-size: 24px;
        }
    }

    & .desc {
        max-width: 540px;
        margin-top: 12px;

        & p {
            font-size: 16px;
            line-height: 1.67;
            color: #595959;
        }
    }

    & h1 {
        & span{
            color: #00d39b;
            font-weight: 700;
        }

    }

    & .btn {
        margin-top: 35px;
    }

    & .link{
        display: block;
        font-size: 15px;
        margin-top: 25px;
    }

    @media #{$tablet-device, $large-mobile} {
        & .title {
            font-size: 30px;
            &.fz-26{
                font-size: 22px;
            }
        }

        & .desc {
            & p {
                font-size: 14px;
            }
        }
    }

    @media #{$extra-small-mobile} {

        & .title {
            font-size: 21px;
            &.fz-26{
                font-size: 20px;
            }

        }

        & .desc {
            & p {
                font-size: 16px;
            }
        }

        & .mx-w-100 { width: 100%;}
    }

    @media (max-width: 360px) {
        & .desc {
            & p {
                font-size: 15px;
            }
        }
    }    
}

.intro5-image{
    padding: 77px 15px 0px;
    // Responsive
    @media #{$tablet-device}{
        padding: 0 15px 50px;
    }
    @media #{$large-mobile}{
        padding: 0 15px 50px;
    }
}

.dark-mode {
    .intro5-section {
        background-color: $bg-dark-secondary;
        .intro5-content {
            .title {
                color: $white;
            }
            p {
                color: $paragraph-light;
            }
        }
    }
}