/*----------------------------------------*/
/*  18. Footer CSS
/*----------------------------------------*/

.footer-section {
    padding: 70px 0 50px;
    background-color: #F8F8F8;
    overflow: hidden;
    & .light-logo {
        & .fil0 { 
            fill: #5d5fef; 
        }
    }
    & .fz-14{
        font-size: 14px;
    }
}

.copyright {
    font-size: 14px;
    text-align: center;
    color: #595959;
}

.dark-mode {
    .footer-section {
        background-color: $bg-dark-secondary;
        & .light-logo {
            & .fil0 { 
                fill: #fff; 
            }
        }
    }
}